body {
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    background-color: #025955;
    border-radius: 10px;
}

.grid-item {
    padding: 20px;
    background-color: antiquewhite;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}

.grid-row-1 {
    grid-column: 1 / 3;
}

